@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nnz4bb');
  src:  url('fonts/icomoon.eot?nnz4bb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nnz4bb') format('truetype'),
    url('fonts/icomoon.woff?nnz4bb') format('woff'),
    url('fonts/icomoon.svg?nnz4bb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}
.icon-angry:before {
  content: "\e902";
}
.icon-arrow-bottom:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-top:before {
  content: "\e906";
}
.icon-back:before {
  content: "\e907";
}
.icon-billing:before {
  content: "\e908";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-chat:before {
  content: "\e90a";
}
.icon-chat-2:before {
  content: "\e90b";
}
.icon-config:before {
  content: "\e90c";
}
.icon-confused:before {
  content: "\e90d";
}
.icon-cool:before {
  content: "\e90e";
}
.icon-courses:before {
  content: "\e90f";
}
.icon-credential:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e911";
}
.icon-drop:before {
  content: "\e912";
}
.icon-favorite:before {
  content: "\e913";
}
.icon-history:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-lesson:before {
  content: "\e917";
}
.icon-love:before {
  content: "\e918";
}
.icon-moon:before {
  content: "\e919";
}
.icon-ninja:before {
  content: "\e91a";
}
.icon-ninja-2:before {
  content: "\e91b";
}
.icon-ninja-2-line:before {
  content: "\e91c";
}
.icon-note:before {
  content: "\e91d";
}
.icon-notes:before {
  content: "\e91e";
}
.icon-off:before {
  content: "\e91f";
}
.icon-on:before {
  content: "\e920";
}
.icon-pen:before {
  content: "\e921";
}
.icon-play-2:before {
  content: "\e922";
}
.icon-remove:before {
  content: "\e923";
}
.icon-save:before {
  content: "\e924";
}
.icon-search-plus-2:before {
  content: "\e925";
}
.icon-search-plus:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-send:before {
  content: "\e928";
}
.icon-send-line:before {
  content: "\e929";
}
.icon-sleep:before {
  content: "\e92a";
}
.icon-snippet:before {
  content: "\e92b";
}
.icon-statistics-2:before {
  content: "\e92c";
}
.icon-success:before {
  content: "\e92d";
}
.icon-sun:before {
  content: "\e92e";
}
.icon-thunder:before {
  content: "\e92f";
}
.icon-thunder-2:before {
  content: "\e930";
}
.icon-thunder-3:before {
  content: "\e931";
}
.icon-ticket:before {
  content: "\e932";
}
